[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
